<!DOCTYPE html>
<html lang="en
" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content=" initial-scale=1, maximum-scale-1, shrink-to-fit=yes"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>U-ETDS | Personel Ekle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/pace.min.css}"/>
    <script th:src="@{/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!-- simplebar CSS-->
    <link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link th:href="@{/css/sidebar-menu.css}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link th:href="@{/css/app-style_edit.css}" rel="stylesheet"/>
    <!-- skins CSS-->
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <!--Bootstrap Datepicker-->
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/plugins/notifications/css/lobibox.min.css}"/>


</head>

<body>
<!-- Start wrapper-->
<div id="wrapper">

    <div id="loading-screen" style="display: none; background-color: white">
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>

    <!--Start sidebar-topbar-wrapper-->
    <div th:replace="navbar :: navbar"> </div>
    <!--End sidebar-topbar-wrapper-->


    <div class="content-wrapper mx-auto">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void(0);">Cv</a></li>
                        <li class="breadcrumb-item"><a href="javaScript:void(0);">Düzenle</a></li>
                    </ol>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group float-sm-right m-1" role="group">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Hızlı Erişim
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               style="font-size: small; background-color: rgba(129, 90, 232, 0.15);">Teknik Destek</a>
                            <a href="/teknikdestek/olustur" class="dropdown-item text-center" style="font-size: small">Teknik
                                Destek Talebi</a>
                            <a href="/teknikdestek/taleplerim" class="dropdown-item text-right"
                               style="font-size: small">&emsp;&emsp;Teknik Destek Taleplerim</a>
                            <a class="dropdown-item "
                               style="font-size: small; background-color: rgba(129, 90, 232, 0.15);">Öneri /
                                Şikayetleriniz</a>
                            <a href="/oneri/olustur" class="dropdown-item text-center" style="font-size: small">Öneri /
                                Şikayet Talebi</a>
                            <a href="/oneri/onerilerim" class="dropdown-item pull-right" style="font-size: small">&emsp;&emsp;Öneri
                                / Şikayet Taleplerim</a>
                            <div class="dropdown-divider"></div>
                            <a href="/iletisim/iletisim" class="dropdown-item">İletişim</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumb-->


        </div>

<!--        <div class="row" id="iletisimInfo">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="card">-->
<!--                    <div class="card-header gradient-deepblue text-white  text-uppercase">İletişim Bilgileri</div>-->
<!--                    <div class="ribbon-content"></div>-->
<!--                    <div class="card-body">-->
<!--                        <form id="getFormCommunicationInfo">-->
<!--                            <div className="form-group">-->
<!--                                <div className="container">-->
<!--                                    <div className="row">-->

<!--                                        <div className="col-sm">-->
<!--                                            <label for="name" class="">İsim </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="name" name="name"-->
<!--                                                   placeholder="İsim giriniz" required>-->

<!--                                        </div>-->
<!--                                        <div className="col-sm">-->
<!--                                            <label for="surname" class="">Soyisim </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="surname" name="surname"-->
<!--                                                   placeholder="Soyisim giriniz" required>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div className="row">-->
<!--                                        <div className="col-sm-6">-->
<!--                                            <label for="tittle" class="">Unvan </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="tittle" name="tittle"-->
<!--                                                   placeholder="Unvan giriniz" required>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div className="row">-->
<!--                                        <div className="col-sm">-->
<!--                                            <label for="email" class="">Email </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="email" name="email"-->
<!--                                                   placeholder="Email giriniz" required>-->
<!--                                        </div>-->
<!--                                        <div className="col-sm">-->
<!--                                            <label>Doğum Tarİhİ</label>-->
<!--                                            <span class="fa fa-calendar"></span>-->
<!--                                            <input type="text" id="autoclose-datepicker" name="birthDateStr"-->
<!--                                                   class="form-control" placeholder="Varsa Doğum Tarihi Alanını Giriniz">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div className="row">-->
<!--                                        <div className="col-sm-6">-->
<!--                                            <label for="telefon" class="">Telefon </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="telefon" name="phone"-->
<!--                                                   placeholder="Telefon giriniz" required>-->
<!--                                        </div>-->

<!--                                    </div>-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-6">-->
<!--                                            <div class="form-group" >-->
<!--                                                <label for="selectCity" class="">İl</label>-->
<!--                                                <select class="form-control" id="selectCity" name="city">-->
<!--                                                    <option disabled="disabled" selected="selected"> -&#45;&#45;&#45;&#45; Şehir-->
<!--                                                        Seçiniz -&#45;&#45;&#45;&#45;-->
<!--                                                    </option>-->
<!--                                                    <option th:each="city : ${citys}" th:value="${city.id}"-->
<!--                                                            th:text="${city.il}"-->
<!--                                                    ></option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <div class="form-group">-->
<!--                                                <label for="selectDistrict" style="text-align: center" class="">İlçe</label>-->
<!--                                                <select class="form-control"-->
<!--                                                        id="selectDistrict" name="ilce">-->
<!--                                                    <option disabled="disabled" selected="selected"> -&#45;&#45;&#45;&#45; İlçe-->
<!--                                                        Seçiniz -&#45;&#45;&#45;&#45;-->
<!--                                                    </option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div className="row">-->
<!--                                        <div className="col-sm-6">-->
<!--                                            <label for="web" class="">Web Sayfam </label>-->

<!--                                            <input type="text" class="form-control"-->
<!--                                                   id="web" name="web"-->
<!--                                                   placeholder="Web Sayfanızı giriniz" required>-->
<!--                                        </div>-->

<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                            <br>-->

<!--                            <button type="submit" class="btn btn-success"><i-->
<!--                                    class="fa fa-check-square-o"></i>-->
<!--                                Kaydet-->
<!--                            </button>-->
<!--                            <a href="/anasayfa" class="btn btn-danger"><i-->
<!--                                    class="zmdi zmdi-block-alt"></i>-->
<!--                                İptal-->

<!--                            </a>-->

<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash;start overlay&ndash;&gt;-->
<!--            <div class="overlay toggle-menu"></div>-->
<!--            &lt;!&ndash;end overlay&ndash;&gt;-->
<!--        </div>&lt;!&ndash; End container-fluid&ndash;&gt;  &lt;!&ndash; İletişim Bilgileri Input &ndash;&gt;-->

<!--        <div class="row" id="iletisimInput">-->
<!--            <div class="col-lg-12">-->

        <div class="row">
            <div  class="col-lg-12">
                <div class="card">
                    <div class="card-header gradient-deepblue text-white  text-uppercase">İletişim Bilgileri</div>
                    <div class="ribbon-content"></div>
                    <div class="card-body" id="iletisimInput">
                        <form id="getFormCommunication">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm" th:if="${cominfo == null}">
                                            <label for="name" class="">İsim </label>

                                            <input type="text" class="form-control"
                                                   id="name" name="name"
                                                   placeholder="İsim giriniz" required>

                                        </div>

                                        <div class="col-sm" th:if="${cominfo != null}">
                                            <label for="name" class="">İsim </label>

                                            <input type="text" class="form-control"
                                                   id="name" name="name" th:value="${cominfo.name}"
                                                   placeholder="İsim giriniz" required>

                                        </div>
                                        <div class="col-sm" th:if="${cominfo == null}">
                                            <label for="surname" class="">Soyisim </label>

                                            <input type="text" class="form-control"
                                                   id="surname" name="surname"
                                                   placeholder="Soyisim giriniz" required>
                                        </div>

                                        <div class="col-sm" th:if="${cominfo != null}">
                                            <label for="surname" class="">Soyisim </label>

                                            <input type="text" class="form-control"
                                                   id="surname" name="surname"
                                                   placeholder="Soyisim giriniz" th:value="${cominfo.surname}" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6" th:if="${cominfo == null}">
                                            <label for="tittle" class="">Unvan </label>

                                            <input type="text" class="form-control"
                                                   id="tittle" name="tittle"
                                                   placeholder="Unvan giriniz" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6" th:if="${cominfo != null}">
                                            <label for="tittle" class="">Unvan </label>

                                            <input type="text" class="form-control"
                                                   id="tittle" name="tittle"
                                                   th:value="${cominfo.tittle}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm" th:if="${cominfo == null}">
                                            <label for="email" class="">Email </label>

                                            <input type="text" class="form-control"
                                                   id="email" name="email"
                                                   placeholder="Email giriniz" required>
                                        </div>
                                        <div class="col-sm" th:if="${cominfo != null}">
                                            <label for="email" class="">Email </label>

                                            <input type="text" class="form-control"
                                                   id="email" name="email"
                                                   th:value="${cominfo.email}">
                                        </div>
                                        <div class="col-sm" th:if="${cominfo == null}">
                                            <label>Doğum Tarİhİ</label>
                                            <span class="fa fa-calendar"></span>
                                            <input type="text" id="autoclose-datepicker" name="birthDateStr"
                                                   class="form-control" placeholder="Varsa Doğum Tarihi Alanını Giriniz">
                                        </div>
                                        <div class="col-sm" th:if="${cominfo != null}">
                                            <label>Doğum Tarİhİ</label>
                                            <span class="fa fa-calendar"></span>
                                            <input type="text" id="autoclose-datepicker" name="birthDateStr"
                                                   class="form-control" th:value="${cominfo.birthDate.toString()}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6" th:if="${cominfo == null}">
                                            <label for="telefon" class="">Telefon </label>

                                            <input type="text" class="form-control"
                                                   id="telefon" name="phone"
                                                   placeholder="Telefon giriniz" required>
                                        </div>
                                    <div class="col-sm-6" th:if="${cominfo != null}">
                                            <label for="telefon" class="">Telefon </label>

                                            <input type="text" class="form-control"
                                                   id="telefon" name="phone"
                                                   th:value="${cominfo.phone}">
                                        </div>

                                    </div>
                                            <div class="row" th:if="${cominfo == null}">
                                                <div class="col-md-6">
                                                    <div class="form-group" >
                                                        <label for="selectCity" class="">İl</label>
                                                        <select class="form-control" id="selectCity" name="city">
                                                            <option disabled="disabled" selected="selected"> ----- Şehir
                                                                Seçiniz -----
                                                            </option>
                                                            <option th:each="city : ${citys}" th:value="${city.id}"
                                                                    th:text="${city.il}"
                                                            ></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="selectDistrict" style="text-align: center" class="">İlçe</label>
                                                        <select class="form-control"
                                                                id="selectDistrict" name="ilce">
                                                            <option disabled="disabled" selected="selected"> ----- İlçe
                                                                Seçiniz -----
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="row" th:if="${cominfo != null}">
                                                <div class="col-md-6">
                                                    <div class="form-group" >
                                                        <label for="selectCity" class="">İl</label>
                                                        <select class="form-control" id="selectCity" name="city">
                                                            <option disabled="disabled" selected="selected"> ----- Şehir
                                                                Seçiniz -----
                                                            </option>
                                                            <option th:each="city : ${citys}" th:value="${city.id}"
                                                                    th:text="${city.il}"
                                                            ></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="selectDistrict" style="text-align: center" class="">İlçe</label>
                                                        <select class="form-control"
                                                                id="selectDistrict" name="ilce">
                                                            <option disabled="disabled" selected="selected"> ----- İlçe
                                                                Seçiniz -----
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                    <div class="row" >
                                        <div class="col-sm-12" th:if="${cominfo == null}">
                                            <label for="web" class="">Web Sayfam </label>

                                            <input type="text" class="form-control"
                                                   id="web" name="web"
                                                   placeholder="Web Sayfanızı giriniz" required>
                                        </div>
                                        <div class="col-sm-12" th:if="${cominfo != null}">
                                            <label for="web" class="">Web Sayfam </label>

                                            <input type="text" class="form-control"
                                                   id="web" name="web"
                                                   th:value="${cominfo.web}">
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-success"><i
                                    class="fa fa-check-square-o"></i>
                                Kaydet
                            </button>
                            <a href="/anasayfa" class="btn btn-danger"><i
                                    class="zmdi zmdi-block-alt"></i>
                                İptal

                            </a>
                            <input type="hidden" class="form-control"
                                   id="id" name="id"
                                   th:value="${cominfo.id}">
                        </form>
                    </div>

                    <div class="card-body" id="iletisimOutput">
                        <form id="getFormCommunication">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm">
                                            <label for="name" class="">İsim </label>

                                            <label type="text" class="form-control"
                                                   id="nameLabel" name="nameLabelcv"
                                                   th:text="${cominfo.name}"/>

                                        </div>
                                        <div class="col-sm">
                                            <label for="surname" class="">Soyisim </label>

                                            <label type="text" class="form-control"
                                                   id="surnameLabel" name="surnameLabel"
                                                   th:text="${cominfo.surname}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="tittle" class="">Unvan </label>

                                            <label type="text" class="form-control"
                                                   id="tittle" name="tittle"
                                                   th:text="${cominfo.tittle}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="email" class="">Email </label>

                                            <label type="text" class="form-control"
                                                   id="email" name="email"
                                                   th:text="${cominfo.email}"/>
                                        </div>
                                        <div class="col-sm">
                                            <label>Doğum Tarİhİ</label>
                                            <span class="fa fa-calendar"></span>
                                            <label type="text" id="autoclose-datepicker" name="birthDateStr"
                                                   class="form-control" th:text="${cominfo.birthDate.toString()}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="telefon" class="">Telefon </label>

                                            <label id="telefon" name="phone"
                                                   th:text="${cominfo.phone}"/>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" >
                                                <label for="selectCity" class="">İl</label>
                                                <select class="form-control" id="selectCity" name="city">
                                                    <option disabled="disabled" selected="selected"> ----- Şehir
                                                        Seçiniz -----
                                                    </option>
                                                    <option th:each="city : ${citys}" th:value="${city.id}"
                                                            th:text="${city.il}"
                                                    ></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="selectDistrict" style="text-align: center" class="">İlçe</label>
                                                <select class="form-control"
                                                        id="selectDistrict" name="ilce">
                                                    <option th:each="city : ${citys}" th:value="${city.id}"
                                                            th:text="${city.il}"
                                                            th:selected="${city.id} == ${cominfo.ilce.id}"
                                                    ></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="web" class="">Web Sayfam </label>

                                            <label type="text" class="form-control"
                                                   id="web" name="web"
                                                   th:text="${cominfo.web}"/>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->
        </div>  <!-- İletişim Bilgileri Input -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header gradient-deepblue text-white  text-uppercase">Özel Bilgiler</div>
                    <div class="ribbon-content"></div>
                    <div class="card-body" id="ozelbilgiInput">
                        <form id="getuserPrivateInfo">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Cinsiyet </label>
                                            <div class="icheck-material-success icheck-inline">
                                                <input type="radio" id="inline-radio-success" name="gender"
                                                       checked value="Erkek">
                                                <label for="inline-radio-success">Erkek</label>
                                            </div>
                                            <div class="icheck-material-primary icheck-inline">
                                                <input type="radio" id="inline-radio-primary" name="gender"
                                                       value="Kadın">
                                                <label for="inline-radio-primary">Kadın</label>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="driverLicense" style="text-align: center" class="">Sürücü Belgesi Sınıfı</label>
                                            <select class="form-control"
                                                    id="driverLicense" name="driverLicense">
                                                <option disabled="disabled" selected="selected"> ----- Sürücü Belgesi
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="license : ${driverLicenseList}" th:value="${license.id}"
                                                        th:text="${license.licence}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="ulke" style="text-align: center" class="">Uyruk</label>
                                            <select class="form-control"
                                                    id="ulke" name="ulke">
                                                <option disabled="disabled" selected="selected"> ----- Uyruk
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="ulke : ${ulkeList}" th:value="${ulke.id}"
                                                        th:text="${ulke.ulke}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="salaryExpectation" style="text-align: center" class="">Maaş Beklentisi</label>
                                            <input type="text" class="form-control"
                                                   id="salaryExpectation" name="salaryExpectation"
                                                   placeholder="Telefon giriniz" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Askerlik Durumu</label>
                                            <select class="form-control"
                                                    id="soldierStatus" name="soldierStatus">
                                                <option disabled="disabled" value="0" selected="selected"> ----- Askerlik Durumu
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="sol : ${soldier}" th:value="${sol.id}"
                                                        th:text="${sol.status}"></option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row" id="hide">
                                        <div class="col-sm-6">
                                            <label>Tecil Tarihi</label>
                                            <span class="fa fa-calendar"></span>
                                            <input type="text" id="autoclose-datepickerSoldier" name="startDate"
                                                   class="form-control" >
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div id="engellabel">
                                            <label >Engelliyseniz lütfen bunu belirtin. Böylece size sağlanan ayrıcalıklı istihdam olanaklarından faydalanabilirsiniz.</label>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                        </input>
                                        <label class="form-check-label" for="defaultCheck1">
                                            Engelliyim
                                        </label>
                                    </div>




                                </div>
                            </div>
                            <input type="hidden" class="form-control"
                                   id="idd" name="id"
                                   th:value="${userinfo.id}">
                            <button type="submit" class="btn btn-success"><i
                                    class="fa fa-check-square-o"></i>
                                Kaydet
                            </button>
                            <a href="/anasayfa" class="btn btn-danger"><i
                                    class="zmdi zmdi-block-alt"></i>
                                İptal

                            </a>
                        </form>
                    </div>


                    <div class="card-body" id="ozelbilgiOutput">
                        <form id="getuserPrivateInfo">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Cinsiyet </label>
                                            <label th:text="${userinfo.gender}"></label>
                                        </div>
                                        <div>
                                            <label for="driverLicense" style="text-align: center" class="">Sürücü Belgesi Sınıfı</label>
                                            <label th:text="${userinfo.driverLicense}"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="ulke" style="text-align: center" class="">Uyruk</label>
                                            <label th:text="${userinfo.ulke.ulke}"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="salaryExpectation" style="text-align: center" class="">Maaş Beklentisi</label>
                                            <label th:text="${userinfo.salaryExpectation}"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Askerlik Durumu</label>
                                            <label th:text="${userinfo.soldierStatus.status}"></label>
                                        </div>

                                    </div>

                                    <div class="row" id="hide">
                                        <div class="col-sm-6">
                                            <label>Tecil Tarihi</label>
                                            <span class="fa fa-calendar"></span>
                                            <label th:text="${userinfo.soldierStatus.date}"></label>
                                        </div>

                                    </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->
        </div> <!-- Özel Bilgiler -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header gradient-deepblue text-white  text-uppercase">İş Deneyimi</div>
                    <div class="ribbon-content"></div>
                    <div class="card-body">
                        <form id="getWorkExperience">
                            <div className="form-group">
                                <div className="container">
                                    <div className="row">

                                        <div className="col-sm">
                                            <label for="firmAd" class="">Firma Adı </label>

                                            <input type="text" class="form-control"
                                                   id="firmAd" name="firmAd"
                                                   placeholder="Firma Adı Giriniz" required>

                                        </div>
                                        <div className="col-sm">
                                            <label for="position" class="">Pozisyon</label>
                                            <select class="form-control" id="position">
                                                <option disabled="disabled" selected="selected"> ----- Pozisyon
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="position : ${position}" th:value="${position.id}"
                                                        th:text="${position.positions}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Başlangıç Tarihi</label>
                                            <span class="fa fa-calendar"></span>
                                            <input type="text" id="autoclose-datepickerStart" name="startDate"
                                                   class="form-control" >

                                        </div>
                                        <div class="col-sm-4 form-group" id="hidden">
                                            <label>Bitiş Tarihi</label>
                                            <span class="fa fa-calendar"></span>
                                            <input type="text" id="autoclose-datepickerFinish" name="finishDate"
                                                   class="form-control" >

                                        </div>
                                        <div class="col-sm-2 form-group">
                                            <br>
                                            <input type="checkbox" id="myCheck" onclick="hiddenFinishDate()">
                                            <label for="inline-radio-success">Hala Çalışıyorum</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="companySector" class="">Firma Sektörü</label>
                                            <select class="form-control" id="companySector">
                                                <option disabled="disabled" selected="selected"> ----- Firma Sektörü
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="companySector : ${companySector}" th:value="${companySector.id}"
                                                        th:text="${companySector.companySector}"
                                                ></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div className="row">
                                        <div className="col-sm-6">
                                            <label for="telefon" class="">Çalışma Şekli </label>

                                            <select class="form-control" id="wayOfWork">
                                                <option disabled="disabled" selected="selected"> ----- Çalışma Şekli
                                                    Seçiniz -----
                                                </option>
                                                <option th:each="wayOfWork : ${wayOfWork}" th:value="${wayOfWork.id}"
                                                        th:text="${wayOfWork.wayOfWork}"
                                                ></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="selectCity" class="">İl</label>
                                                <select class="form-control" id="selectCityWork">
                                                    <option disabled="disabled" selected="selected"> ----- Şehir
                                                        Seçiniz -----
                                                    </option>
                                                    <option th:each="city : ${citys}" th:value="${city.id}"
                                                            th:text="${city.il}"
                                                    ></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="selectDistrict" style="text-align: center" class="">İlçe</label>
                                                <select class="form-control"
                                                        id="selectDistrictWork">
                                                    <option disabled="disabled" selected="selected"> ----- İlçe
                                                        Seçiniz -----
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div className="row">
                                        <div className="col-sm-6">
                                            <label for="web" class="">Web Sayfam </label>

                                            <input type="text" class="form-control"
                                                   id="webSite" name="web"
                                                   placeholder="Web Sayfanızı giriniz" required>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-success"><i
                                    class="fa fa-check-square-o"></i>
                                Kaydet
                            </button>
                            <a href="/anasayfa" class="btn btn-danger"><i
                                    class="zmdi zmdi-block-alt"></i>
                                İptal

                            </a>

                        </form>
                    </div>
                </div>
            </div>

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->
        </div> <!-- İş Deneyimi -->
    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void(0);" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
</div><!--End wrapper-->



<!-- Bootstrap core JavaScript-->
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bildirim.js}"></script>

<!-- simplebar js -->
<script th:src="@{/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/js/sidebar-menu.js}"></script>

<!-- Custom scripts -->
<script th:src="@{/js/app-script.js}"></script>

<script th:src="@{/plugins/notifications/js/lobibox.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notifications.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notification-custom-script.js}"></script>
<!--Form Validatin Script-->
<script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-serialize.min.js}"></script>
<script type="application/javascript" th:src="@{/js/CvEdit.js}"></script>

<script th:src="@{/js/jquery-serialize.min.js}"></script>
<!--Bootstrap Datepicker Js-->
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script>
    var personyas;
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $(document).ready(function () {
        $('#autoclose-datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'tr',
        });
        $('#autoclose-datepickerStart').datepicker({
            format: 'dd/mm/yyyy',
            language: 'tr',
        });
        $('#autoclose-datepickerFinish').datepicker({
            format: 'dd/mm/yyyy',
            language: 'tr',
        });
        $('#autoclose-datepicker').datepicker('setDate', today);
        $('#autoclose-datepicker2').datepicker({
            format: 'dd/mm/yyyy',
            language: 'tr',
        });
    });
    $("#autoclose-datepicker2").change(function () {
        var input2 = $('#autoclose-datepicker2').val();
        var pattern2 = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
        var sonuc2 = pattern2.test(input2);
        console.log("Sonuc: " + sonuc2);
        console.log("ilk if girdi.");
        if (sonuc2 = "true") {
            console.log("sonuc if girdi.");
            console.log("Age Checker Worked...")
            var year2 = Number(input2.substr(6, 4));
            console.log("Year: " + year2);
            var month2 = Number(input2.substr(3, 2) - 1);
            console.log("Month: " + month2);
            var day2 = Number(input2.substr(0, 2));
            console.log("Day: " + day2);
            var age2 = today.getFullYear() - year2;
            console.log("Age: " + age2);
            personyas = age2;
        } else {
            inf_msg(msg = "Personel Yaşı Tarihi İstenilen Formatta Giriniz.");
        }
    });
</script>
<script>
    function hiddenFinishDate() {

        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("hidden");
        if (checkBox.checked == true){
            text.style.display = "none";
        } else {
            text.style.display = "block";
        }
    };

    $("#soldierStatus").change(function() {
        var asd =$('#soldierStatus option:selected').val();
        console.log(asd);
        if(asd == 1){
            $('#hide').show();
        }else {
            $('#hide').hide();
        }
    });

    $('#iletisimOutput').click(function(){
        $(this).hide();
        $('#iletisimInput').show();
    });
    $('#ozelbilgiOutput').click(function(){
        $(this).hide();
        $('#ozelbilgiInput').show();
    });

</script>
<script>
    $("#selectCity").change(function() {
        var cityId = this.value;
        console.log(cityId)
        $.ajax({
            url: "/address/listdistrict/"+cityId,
            type: "get",
            //data: {ulkeId: cityId},
            success: function (response) {

                $('#loading-screen').fadeOut('slow');
                $('#selectDistrict').find('option').remove().end().append('<option disabled selected> ----- İlçe Seçiniz ----- </option>').val('');

                var i;
                for (i = 0; i < response.length; ++i) {
                    $('#selectDistrict').append(new Option(response[i].ilce, response[i].id));
                }

                $("#selectDistrict").val($("#selectDistrict option:first").val());

            },
            error: function(jqXHR, textStatus, errorThrown) {

            }
        });
    });

    $("#selectCityWork").change(function() {
        var cityId = this.value;
        console.log(cityId)
        $.ajax({
            url: "/address/listdistrict/"+cityId,
            type: "get",
            //data: {ulkeId: cityId},
            success: function (response) {

                $('#loading-screen').fadeOut('slow');
                $('#selectDistrictWork').find('option').remove().end().append('<option disabled selected> ----- İlçe Seçiniz ----- </option>').val('');

                var i;
                for (i = 0; i < response.length; ++i) {
                    $('#selectDistrictWork').append(new Option(response[i].ilce, response[i].id));
                }

                $("#selectDistrictWork").val($("#selectDistrictWork option:first").val());

            },
            error: function(jqXHR, textStatus, errorThrown) {

            }
        });
    });
</script>



</body>
</html>
