<!DOCTYPE html>
<html lang="en
" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content=" initial-scale=1, maximum-scale-1, shrink-to-fit=yes"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>TEZ | Firma Profili</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/pace.min.css}"/>
    <script th:src="@{/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <!-- simplebar CSS-->
    <link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link th:href="@{/css/sidebar-menu.css}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link th:href="@{/css/app-style_edit.css}" rel="stylesheet"/>
    <!-- skins CSS-->
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <!--Bootstrap Datepicker-->
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/plugins/notifications/css/lobibox.min.css}"/>

 <style>
     html{
         overflow-x: hidden;
     }
 </style>


</head>
<body >

<div th:replace="navbar :: navbar"> </div>


<div class="row" style="margin-top: 4vh">
    <div class="col-lg-12">
        <div class="card" style="width:90%;margin: auto">
            <div class="card-header gradient-deepblue text-white  text-uppercase">
            <h1 class="align-middle" style="margin: 0;" th:text="${company.companyName}">  </h1>
            </div>
            <div class="ribbon-content"></div>
            <div class="card-body">
                <div class="row">
            <div class="col-lg-6">
                <div style="font-family: 'Oswald', sans-serif;font-size: x-large;margin-bottom: 2vh;color: black" > Firmamız Hakkında </div>
                <div class="bg-light"><span th:text="${company.about}" style="font-family: 'Oswald', sans-serif;font-size:20px;margin-top: 4vh">
                </span></div>

            </div>
                    <div class="col-lg-6" style="padding: 0">
                        <div class="row">

                <div class="col-lg-2">

                     <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Kuruluş Yılı:</label>


                    </div>

                    <div class="col-lg-10">
                        <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: medium;margin-top:2vh;margin-left: 1vh"><span th:text="${company.foundationYear}"> </span></div>

                    </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Çalışan Sayısı:</label>


                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: medium;margin-top:2vh;margin-left: 1vh"><span th:text="${company.employeesNumber}"> </span></div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;margin-top: 3vh;color: black">Adres:</label>

                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: medium;margin-top: 3vh"><span th:text="${company.address}"> </span> </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                               <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;margin-top: 3vh;color: black">Sektör:</label>

                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: medium;margin-top: 3vh"><span th:text="${company.sektor.companySector}" ></span></div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;margin-top: 3vh;color: black">Web Sayfası:</label>

                            </div>

                            <div class="col-lg-10">
                               <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: medium;margin-top: 3vh"><span th:text="${company.website}"></span></div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6" style="margin-top: 2vh">
                        <div style="font-family: 'Oswald', sans-serif;" class="bg-light"> <a href="/firma/ilanver" class="btn btn-primary btn-block waves-effect waves-light text-white"> İlan Oluştur</a></div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div><!-- End container-fluid-->  <!-- Company Profil -->


<div style="margin-bottom: 2vh;margin-top:4vh" class="col-lg-12">
    <div class="row">

        <div th:each="jobposting : ${jobposting}" class="col-lg-4">

            <div class="card" style="width:90%;margin: auto">
                <div class="card-header gradient-deepblue text-white  text-uppercase" th:text="${jobposting.getTittle()}"></div>
                <div class="ribbon-content"></div>
                <div class="card-body">

                    <div class="row">
                        <p style="font-family: 'Oswald', sans-serif;color: black;font-size: large;margin-right: 3px;">Firma İsmi:  </p>
                        <p style="font-family: 'Oswald', sans-serif;font-size: large" th:text="${jobposting.company.companyName}" class="card-text"></p>
                    </div>

                    <div class="row">
                        <p style="font-family: 'Oswald', sans-serif;color: black;font-size: large;margin-right: 3px;">Pozisyon:  </p>
                        <p style="font-family: 'Oswald', sans-serif;font-size: large" th:text="${jobposting.position.positions}" class="card-text"></p>
                    </div>
                    <div class="row">
                        <p style="font-family: 'Oswald', sans-serif;color: black;font-size: large;margin-right: 3px;">Çalışma Şekli:  </p>
                        <p style="font-family: 'Oswald', sans-serif;font-size: large" th:text="${jobposting.wayOfWork.wayOfWork}" class="card-text"></p>
                    </div>
                    <div class="row">
                        <p style="font-family: 'Oswald', sans-serif;color: black;font-size: large;margin-right: 3px;">Şehir:  </p>
                        <p style="font-family: 'Oswald', sans-serif;font-size: large" th:text="${jobposting.city.getIl()}" class="card-text"></p>
                    </div>



                    <div class="row">
                        <p style="font-family: 'Oswald', sans-serif;font-size: large" th:text="${jobposting.information}" class="card-footer"></p>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bildirim.js}"></script>

<!-- simplebar js -->
<script th:src="@{/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/js/sidebar-menu.js}"></script>

<!-- Custom scripts -->
<script th:src="@{/js/app-script.js}"></script>

<script th:src="@{/plugins/notifications/js/lobibox.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notifications.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notification-custom-script.js}"></script>
<!--Form Validatin Script-->
<script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-serialize.min.js}"></script>



</body>
</html>