<!DOCTYPE html>
<html lang="en
" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>İş İlanları</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar :: navbar"> </div>


<form>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" th:each="jobposting : ${job}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${jobposting.getTittle()}"></h5>
                            <!--/*@thymesVar id="date" type=""*/-->
                            <small th:value="${jobposting.date}"></small>
                        </div>
                        <p class="mb-1" th:text="${jobposting.firm}"></p>
                        <small th:text="${jobposting.getCity()}"></small>
                    </a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>

</body>
</html>