<!DOCTYPE html>
<html lang="en
" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content=" initial-scale=1, maximum-scale-1, shrink-to-fit=yes"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${'TEZ | Firma Profili'}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/pace.min.css}"/>
    <script th:src="@{/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <!-- simplebar CSS-->
    <link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link th:href="@{/css/sidebar-menu.css}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link th:href="@{/css/app-style_edit.css}" rel="stylesheet"/>
<!-- skins CSS-->
<link th:href="@{/css/skins.css}" rel="stylesheet"/>
<!--Bootstrap Datepicker-->
<link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/plugins/notifications/css/lobibox.min.css}"/>

</head>
<body>

<!--Start sidebar-topbar-wrapper-->
<div th:replace="navbar :: navbar"> </div>
<!--End sidebar-topbar-wrapper-->

<div class="row" style="margin-top: 4vh">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header gradient-deepblue text-white  ">
                <h1 class="align-middle text-uppercase" style="margin: 0;" th:text="${jobs.tittle}" > </h1>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="align-middle text-white" style="margin: 0;padding: 0" th:text="${'İlan Tarihi: '+date}"> </h4>
                        <h4 class="align-middle text-white" style="margin: 0;padding: 0" th:text="${'Şehir: '+jobs.city.il}"> </h4>

                    </div>
                    <div class="col-md-4">
                        <h4 class="-align-right text-white" style="margin: 0;right: 0" th:text="${'Firma: '+jobs.company.companyName}"></h4>
                        <h4 class="align-middle text-white" style="margin: 0;right: 0" th:text="${'Sektör: '+jobs.companySector.companySector}"> </h4>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="font-family: 'Oswald', sans-serif;font-size: x-large;margin-bottom: 2vh;color: black" > İŞ DETAY </div>

                        <div class="bg-light"><span th:text="${jobs.information}" style="font-family: 'Oswald', sans-serif;font-size:20px;margin-top: 4vh">


                </span></div>

                    </div>
                    <div class="col-lg-6" style="padding: 0">
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Pozisyon:</label>


                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: large;margin-left: 1vh" ><span th:text="${jobs.position.positions}"> </span></div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black" >İstenilen Deneyim:</label>


                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: large;margin-left: 1vh" ><span th:text="${jobs.workexp}"> </span></div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Çalışma Şekli:</label>

                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: large;"><span th:text="${jobs.wayOfWork.wayOfWork}" > </span> </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Website:</label>

                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: large;"><span th:text="${jobs.company.website}"  ></span></div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2">

                                <label style="font-family: 'Oswald', sans-serif;font-size: large;margin-right: 5vh;color: black">Sürücü Belgesi:</label>

                            </div>

                            <div class="col-lg-10">
                                <div class="bg-light" style="font-family: 'Oswald', sans-serif;font-size: large;"><span th:text="${jobs.driverLicense.licence}"></span></div>

                            </div>
                        </div>

                    </div>

                </div>
                <form id="fSave">
                <div class="row">
                    <div class="col-md-3">
                        <input style="border: none" type="hidden" class="form-control"
                                name="jobPosting" th:value="${jobs.id}"/>
                    </div>
                    <div class="col-md-6" style="margin-top: 2vh">
                        <button style="width: 50%;margin:auto" type="submit" class="btn btn-primary btn-block waves-effect waves-light">Başvur</button>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                </form>

    </div>
</div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bildirim.js}"></script>

<!-- simplebar js -->
<script th:src="@{/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/js/sidebar-menu.js}"></script>

<!-- Custom scripts -->
<script th:src="@{/js/app-script.js}"></script>

<script th:src="@{/plugins/notifications/js/lobibox.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notifications.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notification-custom-script.js}"></script>
<!--Form Validatin Script-->
<script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-serialize.min.js}"></script>



<script type="application/javascript" th:src="@{/js/JobApply.js}"></script>
</body>
</html>