<!DOCTYPE html>
<html lang="en
" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content=" initial-scale=1, maximum-scale-1, shrink-to-fit=yes"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>U-ETDS | Personel Ekle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/pace.min.css}"/>
    <script th:src="@{/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!-- simplebar CSS-->
    <link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link th:href="@{/css/sidebar-menu.css}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link th:href="@{/css/app-style_edit.css}" rel="stylesheet"/>
    <!-- skins CSS-->
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <!--Bootstrap Datepicker-->
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/plugins/notifications/css/lobibox.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>

<div class="container">
        <form id="FormSave">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >İsim</label>
                        <input type="text" id="ad" class="form-control"  aria-describedby="emailHelp" placeholder="İsminiz">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Soyisim</label>
                        <input type="text" id="soyad" class="form-control"  aria-describedby="emailHelp" placeholder="Soyisminiz">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Email address</label>
                        <input type="email" id="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Kullanıcı Adı</label>
                        <input type="text" id="username" class="form-control"  aria-describedby="emailHelp" placeholder="Kullanıcı Adınız">
                    </div>
                </div>
            </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bildirim.js}"></script>

<!-- simplebar js -->
<script th:src="@{/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/js/sidebar-menu.js}"></script>

<!-- Custom scripts -->
<script th:src="@{/js/app-script.js}"></script>

<script th:src="@{/plugins/notifications/js/lobibox.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notifications.min.js}"></script>
<script th:src="@{/plugins/notifications/js/notification-custom-script.js}"></script>
<!--Form Validatin Script-->
<script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-serialize.min.js}"></script>
<script type="application/javascript" th:src="@{/js/form-kontrol.js}"></script>
</body>
</html>