body{
   
    margin:auto;
    width: 100%;
    height: 100vh;
}

.card
{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 5vh;
    border: 1px solid transparent;
    background-color: white;
}
.card:hover
{
    border: 2px solid #d0d0d0
}
form
{
    border:0
}

.butonla
{
    padding-left: 85%;
}
#kaydetbtn{
 margin-right: 1vh;
}